.megaSena .result {
  color: #0f0c29;
}
.megaSena button {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: #fff;
  border-radius: 20px;
  width: 120px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
